/* -------------------------------------
		GLOBAL
------------------------------------- */
/* line 5, ../../sass/email.scss */
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* line 11, ../../sass/email.scss */
img {
  max-width: 100%;
}

/* line 15, ../../sass/email.scss */
.collapse {
  margin: 0;
  padding: 0;
}

/* line 20, ../../sass/email.scss */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%!important;
  height: 100%;
}

/* -------------------------------------
		ELEMENTS
------------------------------------- */
/* line 31, ../../sass/email.scss */
a {
  color: #2BA6CB;
}

/* line 35, ../../sass/email.scss */
.btn {
  text-decoration: none;
  color: #FFF;
  background-color: #666;
  padding: 10px 16px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* line 47, ../../sass/email.scss */
p.callout {
  padding: 15px;
  background-color: #ECF8FF;
  margin-bottom: 15px;
}

/* line 53, ../../sass/email.scss */
.callout a {
  font-weight: bold;
  color: #2BA6CB;
}

/* line 58, ../../sass/email.scss */
table.social {
  /* 	padding:15px; */
  background-color: #ebebeb;
}

/* line 63, ../../sass/email.scss */
.social .soc-btn {
  padding: 3px 7px;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  text-align: center;
}

/* line 75, ../../sass/email.scss */
a.fb {
  background-color: #3B5998!important;
}
/* line 78, ../../sass/email.scss */
a.tw {
  background-color: #1daced!important;
}
/* line 81, ../../sass/email.scss */
a.gp {
  background-color: #DB4A39!important;
}
/* line 84, ../../sass/email.scss */
a.ms {
  background-color: #000!important;
}

/* line 89, ../../sass/email.scss */
.sidebar .soc-btn {
  display: block;
  width: 100%;
}

/* -------------------------------------
		HEADER
------------------------------------- */
/* line 98, ../../sass/email.scss */
table.head-wrap {
  width: 100%;
}

/* line 103, ../../sass/email.scss */
.header.container table td.logo {
  padding: 15px;
}
/* line 106, ../../sass/email.scss */
.header.container table td.label {
  padding: 15px;
  padding-left: 0px;
}

/* -------------------------------------
		BODY
------------------------------------- */
/* line 117, ../../sass/email.scss */
table.body-wrap {
  width: 100%;
}
/* line 120, ../../sass/email.scss */
table.footer-wrap {
  width: 100%;
  clear: both!important;
}

/* -------------------------------------
		FOOTER
------------------------------------- */
/* line 130, ../../sass/email.scss */
.footer-wrap .container td.content p {
  border-top: 1px solid #d7d7d7;
  padding-top: 15px;
  font-size: 10px;
  font-weight: bold;
}

/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
/* line 141, ../../sass/email.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000;
}

/* line 148, ../../sass/email.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
  text-transform: none;
}

/* line 155, ../../sass/email.scss */
h1 {
  font-weight: 200;
  font-size: 44px;
}

/* line 160, ../../sass/email.scss */
h2 {
  font-weight: 200;
  font-size: 37px;
}

/* line 165, ../../sass/email.scss */
h3 {
  font-weight: 500;
  font-size: 27px;
}

/* line 170, ../../sass/email.scss */
h4 {
  font-weight: 500;
  font-size: 23px;
}

/* line 175, ../../sass/email.scss */
h5 {
  font-weight: 900;
  font-size: 17px;
}

/* line 180, ../../sass/email.scss */
h6 {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
}

/* line 187, ../../sass/email.scss */
.collapse {
  margin: 0!important;
}

/* line 191, ../../sass/email.scss */
p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
}

/* line 199, ../../sass/email.scss */
p.lead {
  font-size: 17px;
}
/* line 202, ../../sass/email.scss */
p.last {
  margin-bottom: 0px;
}

/* line 208, ../../sass/email.scss */
ul li {
  margin-left: 5px;
  list-style-position: inside;
}
/* line 212, ../../sass/email.scss */
ul.sidebar {
  background: #ebebeb;
  display: block;
  list-style-type: none;
}
/* line 216, ../../sass/email.scss */
ul.sidebar li {
  display: block;
  margin: 0;
}
/* line 219, ../../sass/email.scss */
ul.sidebar li a {
  text-decoration: none;
  color: #666;
  padding: 10px 16px;
  /* 	font-weight:bold; */
  margin-right: 10px;
  /* 	text-align:center; */
  cursor: pointer;
  border-bottom: 1px solid #777777;
  border-top: 1px solid #FFFFFF;
  display: block;
  margin: 0;
}
/* line 231, ../../sass/email.scss */
ul.sidebar li a.last {
  border-bottom-width: 0px;
}
/* line 234, ../../sass/email.scss */
ul.sidebar li a h1, ul.sidebar li a h2, ul.sidebar li a h3, ul.sidebar li a h4, ul.sidebar li a h5, ul.sidebar li a h6, ul.sidebar li a p {
  margin-bottom: 0!important;
}

/* -------------------------------------
		SIDEBAR
------------------------------------- */
/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
/* line 253, ../../sass/email.scss */
.container {
  display: block!important;
  max-width: 600px!important;
  margin: 0 auto!important;
  /* makes it centered */
  clear: both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
/* line 263, ../../sass/email.scss */
.content {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
/* line 268, ../../sass/email.scss */
.content table {
  width: 100%;
}

/* Let's make sure tables in the content area are 100% wide */
/* Odds and ends */
/* line 277, ../../sass/email.scss */
.column {
  width: 300px;
  float: left;
}
/* line 280, ../../sass/email.scss */
.column tr td {
  padding: 15px;
}

/* line 285, ../../sass/email.scss */
.column-wrap {
  padding: 0!important;
  margin: 0 auto;
  max-width: 600px!important;
}

/* line 291, ../../sass/email.scss */
.column table {
  width: 100%;
}

/* line 295, ../../sass/email.scss */
.social .column {
  width: 280px;
  min-width: 279px;
  float: left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
/* line 303, ../../sass/email.scss */
.clear {
  display: block;
  clear: both;
}

/* -------------------------------------------
    CUSTOM
    Your rules imported here!
-------------------------------------------- */
/* -------------------------------------------
    MYRULES
    This sample file shows you how to
    override default rules and add your
    ones.
-------------------------------------------- */
/* -------------------------------------------
		PHONE
		For clients that support media queries.
		Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* line 320, ../../sass/email.scss */
  a[class="btn"] {
    display: block!important;
    margin-bottom: 10px!important;
    background-image: none!important;
    margin-right: 0!important;
  }

  /* line 326, ../../sass/email.scss */
  div[class="column"] {
    width: auto!important;
    float: none!important;
  }

  /* line 330, ../../sass/email.scss */
  table.social div[class="column"] {
    width: auto!important;
  }
}
